{% extends "layout.html" %}
{% block head%}
{{ super() }}
<title>トップページ</title>
{% endblock %}
{% block body%}

{% for entry in entries %}
    <h2>{{ entry.title }}</h2>
    <p>
      <span>{{ entry.created_date }}</span>
      <span>Posted by <a href="http://twitter.com/#!/{{ entry.username }}"><strong>{{ entry.username }}</strong></a></span>
      <img width="20px" height="20px" src="http://api.twitter.com/1/users/profile_image/{{ entry.username }}.json" />
    </p>
    <pre>{{ entry.text }}</pre>
{% endfor %}


{% from 'helper/pagination.html' import render_pagination  %}
{{ render_pagination(pagination) }}
{% endblock %}
